// include top
div.inc-top.fn-clearfix
    ul#J_crumb.m-crumb
        li= nav[menuIndex].name
        -each crumb in crumbs
            li= crumb
    ul.inc-top-user.fn-clearfix
        li#J_admin_name 欢迎你，访客！
        li#J_message
            i.fi.fi-bell-o.at-mr-small
            em 消息
            span.badge.badge--notice
                b.arr--left
                | 100
        li
            a(href="javascript:;",title="注销").user-logout.btn.btn-primary
                i.fi.fi-power-off
// /include top
// include nav
div.inc-nav.fn-clearfix
    div.logo
        a(href="/")
            img(src="/images/logo.png",alt="kit logo")
    ul.nav.fn-clearfix
        -each item,index in nav
            -if (index==menuIndex)
                li.curr
                    a(href=item.href)
                        span.nav-item-sign
                            i(class="fi "+item.signClass)
                        em= item.name
            -else
                li
                    a(href=item.href)
                        span.nav-item-sign
                            i(class="fi "+item.signClass)
                        em= item.name


// /include nav